#cont{
	text-align: center;
	padding-top:4em;
	color:white;
	text-shadow: 0px 3px 2px rgba(0,0,0,0.2)
}
#h1{
	font-weight: 20%;
	font-size: 4em;
}

hr{
	width:40%;
	border-top:1px solid;
	border-bottom:1px solid rgba(0,0,0,0.2);
}
.body{
	background:linear-gradient( rgba(0,0,0,.45), rgba(0,0,0,.45) ),url(https://images.unsplash.com/photo-1518081461904-9d8f136351c2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8a815e999d0f593c8c8bbcb6473b0d39&auto=format&fit=crop&w=1077&q=80); 
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size:cover;
	background-size: cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-color:#336699;
  background-repeat: no-repeat;	/*height:100%;
	width: 100%;*/
}
html
{
	height:100%;
}
.container{
	white-space: nowrap;
}

.stat {
	padding:20px 5px;
	background:#336699;
	text-align:center;
	float:left;
	margin-left:100px;
	width:150px;
}
.stat-count {
	font-size: 51px;
	font-weight: normal;
	letter-spacing: -0.02em;
	line-height: 1.2;
	margin-bottom: 20px;
	overflow:hidden;
	font-family:"Georgia", Courier, monospace;
	padding: 0;
	position: relative;
}
.stat-detail {
	color:#fff;
	padding-top:10px;
	font: italic 1.3rem/1.75 "Georgia", Courier, monospace;
}

.workshopcard{
	padding-left: 20px;
	padding-top: 48px;
	padding-right: 20px;
}

body {
	margin:0;
	font-family: arial;
}

.topnav {	
  position:fixed;
  width:100%;
  border-radius: 25px;
  overflow: hidden;
  background:linear-gradient( rgba(0,0,0,.65), rgba(0,0,0,.65) );
}

.topnav a,button {
  border-radius: 25px;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}

.active {
  background:linear-gradient( rgba(71,202,81,.75), rgba(71,202,81,.75) );
  color: white;
}

.avail{
  border-radius: 25px;
  background-color: #2901DA;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
    border-radius: 25px;
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    border-radius: 25px;
    font-size: 17px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    font-size: 14px;
    margin: 0;
}

.dropdown-content {
    border-radius: 25px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    border-radius: 25px;
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

/*content sizing*/
.WebContainer{
    width: 100%;
    height: auto;
}
.articles{
    width:90%; /*Takes 90% width from WebContainer*/
    height: auto;
    margin: auto;
} 

.form {
    background: black;
    width: 100%;
    height: 100%;
}

iframe{
  position:center center;
  height:45em;
  width:45em;
}


